body {
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}
header {
    background-color: #6d0000;
    margin: 0;
    padding: 20px;
    grid-column: 1;
    grid-row: 1;
}
h1 {
    margin: 0;
    padding: 20px;
}
.headline {
    color: white;
}
a {
    margin: 0 20px;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.nav-link:hover {
    color: #cc8922;
    text-decoration: underline;
}
main {
    background-color: #d4541c;
    margin: 0;
    padding: 20px;
    grid-column: 1;
    grid-row: 2;
}
h2 {
    margin: 0;
    padding: 20px;
}
.content {
    color: white;
}
section {
    background: white;
    border-radius: 15px;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
}
fieldset {
    border: 1px solid #cc8922;
}
legend {
    color: #6d0000;
}
label {
    color: #6d0000;
}
input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #813a00;
    outline: none;
    background: transparent;
    color: #6d0000;
}
#submit {
    border: 1px solid #813a00;
    background: white;
    color:	#813a00;
}
footer {
    background-color: #c70000;
    margin: 0;
    padding: 20px;
    grid-column: 1;
    grid-row: 3;
}
p {
    margin: 0;
    padding: 20px;
}
.footer-text {
    color: white;
}